@import "tailwindcss";
@import "tailwindcss/utilities";

@plugin "@tailwindcss/typography";

:root {
  --color-brand: #16412D;
}

@layer utilities {
  .bg-brand {
    background-color: var(--color-brand);
  }
  .text-brand {
    color: var(--color-brand);
  }
  .border-brand {
    border-color: var(--color-brand);
  }
  .hover\:text-brand:hover {
    color: var(--color-brand);
  }
  .hover\:bg-brand:hover {
    background-color: var(--color-brand);
  }
  .focus\:border-brand:focus {
    border-color: var(--color-brand);
  }
}

:root {
  --color-yellow: #B89B5E;
}

@layer utilities {
  .bg-yellow {
    background-color: var(--color-yellow);
  }
  .text-yellow {
    color: var(--color-yellow);
  }
  .border-yellow {
    border-color: var(--color-yellow);
  }
  .hover\:text-yellow:hover {
    color: var(--color-yellow);
  }
  .hover\:bg-yellow:hover {
    background-color: var(--color-yellow);
  }
  .focus\:border-yellow:focus {
    border-color: var(--color-yellow);
  }
}


.font-header {
  font-family: var(--font-playfair), serif;
  letter-spacing: 0.5px;
}

.font-script {
  font-family: var(--font-cormorant), serif;
  font-style: italic;
}

.scrollable-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollable-content {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}


@keyframes zoomSlow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.animate-zoomSlow {
  animation: zoomSlow 10s ease-in-out infinite alternate;
}

.ant-message-success .anticon {
  color: #16412D !important;
}

.ant-message-error .anticon {
  color: #16412D !important;
}

.ant-message-warning .anticon {
  color: #16412D !important;
}

/*Service Card*/
.clip-path-ribbon {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 75%, 0% 100%) !important;
}

/*Hero Swiper*/
.hero-swiper {
  width: 100% !important;
  height: 100% !important;
}

.hero-swiper .swiper-pagination {
  bottom: 24px !important;
}


.hero-swiper .swiper-button-prev::after,
.hero-swiper .swiper-button-next::after {
  font-size: 22px !important;
}

@media (max-width: 768px) {
  .hero-swiper .swiper-button-prev,
  .hero-swiper .swiper-button-next {
    display: none !important;
  }
}

.hero-swiper .swiper-button-prev,
.hero-swiper .swiper-button-next {
  display: none !important;
}

.hero-swiper .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: rgba(255, 255, 255, 0.6) !important;
  opacity: 1 !important;
}

.hero-swiper .swiper-pagination-bullet-active {
  background: #cba553 !important;
}

.enquiry-modal .ant-modal-content {
  background: #fdfbf7;
  padding: 0;
  border-radius: 2rem;
  border: 1px solid #ddd3c8;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.enquiry-modal .ant-modal-close {
  top: 18px;
  right: 18px;
}